<% if current_user.admin %>
  <div class="row">
    <div class="col-xs-6">
      <%= render "generate-pairs-form", pair: @pair %>
    </div>
    <div class="col-xs-6">
      <%= render "delete-pairs-form", pair: @pair %>
    </div>
  </div>
  <br>
<% end %>


<h4><%= current_user.admin ? "All" : "Your" %> current matches:</h4>
<br>

<% if @pairs.any? %>
  <ul class="list-group">
  <% pairs_per_day = @pairs.group_by { |pair| pair.date }.sort %>
  <% pairs_per_day.each do |date, pairs| %>
    <li class="list-group-item"><b><%= date %></b></li>
    <% for pair in pairs %>
      <li class="list-group-item"><%= pair.pretty_print %></li>
    <% end %>
    <br>
  <% end %>
  </ul>
<% end %>
