<% if current_user.admin %>
  <div class="row">
    <div class="col-xs-6">
      <%= render "generate-pairs-form", pair: @pair %>
    </div>
    <div class="col-xs-6">
      <%= render "delete-pairs-form", pair: @pair %>
    </div>
  </div>
  <br>
<% end %>


<h4><%= current_user.admin ? "All" : "Your" %> current matches:</h4>
<br>
<div id="message">

</div>

<div id="main-list" class="list-group">

<% if @pairs.any? %>
  <% pairs_per_day = @pairs.group_by { |pair| pair.date }.sort.reverse %>
  <% pairs_per_day.each do |date, pairs| %>

  <ul id="day-group" class="list-group">
    <li id="day-group-title-item" class="list-group-item"><b><%= date %></b></li>
    <% for pair in pairs %>
      <li id="day-group-pair-item" class="list-group-item"><%= pair.pretty_print %></li>
    <% end %>
  </ul>

  <% end %>
  <br>
<% end %>

</div>
