<div class="row">
  <% roles = @users.order(admin: :desc).group_by { |user| user.admin } %>
  <% roles.each do |admin, users| %>
    <div class="col-xs-6">
      <table class="table">
        <thead>
          <tr class="active">
            <th colspan="2">
              <%= admin ? "admins" : "students" %>
            </th>
          </tr>
        </thead>
        <% users.each do |user| %>
          <tr class="<%= user.admin? ? "admin" : "student" %> " data-id="<%= user.id %>">
            <td >
              <button class="btn btn-secondary" type="submit">
                <span id="user-<%= user.id %>">
                  <%= link_to (user.admin ? "remove admin" : "make admin"),
                  user_toggle_admin_path(user.id), class:"admin-button", method: :post, params: { id: user.id } %>
                </span>
              </button>
            </td>
            <td class="col-xs-8 font-weight-bold">
              <%= user.full_name %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
